@charset "UTF-8";

/*global formatting for all sizes */

header{
    height: 150px;
    background: url(../images/large-banner.jpg) no-repeat;
}
header a.logo{
    display: block;
    position: absolute;
    top: 52px;
    right: 36px;
    background: url(../images/large-logo.png) no-repeat;
    width: 100px;
    height: 100px;
}
nav{
    position: absolute;
    width: 100%;
    background-color: orange;
    top: 150px;
}
.portfolio{
    padding: 20px 15px;
    width: 100%;
}
.portfolio .wrapper{
    margin: 0 20px 0 40px;
    width: 100%;
    overflow: hidden;
}
.portfolio .wrapper .image-holder{
    float: left;
    width: 30%;
    overflow: hidden;
}
.portfolio .wrapper .image-holder figure{
    background: #000;
    width: 100%;
    margin: 7px;
    overflow: hidden;
}
.portfolio .wrapper .image-holder figure img{
    display: block;
    width: 100%;
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.7s;
    cursor: pointer;
}
.portfolio .wrapper .image-holder figure img:hover{
    opacity: 1;
    transform: scale(1.03);
}
